[Desktop Entry]
Type=Application
Name=GraceLab Session Timer
Exec=python3 /opt/gracelab-client/current/gracelab_timer.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
